select[multiple] option
{
	padding:5px;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
#popuptable tr td
{
	padding-top:7px;
	padding-bottom:7px;
	border-bottom:1px solid #357ca5;
}
.text-white
{
	color:#fff;
}
.hideit
{
	display:none;
}
